pkgbase = python-frozenlist
	pkgdesc = FrozenList is a list-like structure which can be made immutable
	pkgver = 1.4.0
	pkgrel = 2
	url = https://github.com/aio-libs/frozenlist
	arch = x86_64
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = https://github.com/aio-libs/frozenlist/archive/v1.4.0/python-frozenlist-1.4.0.tar.gz
	sha512sums = 937f7684df3879596903b5ce2d9a38590383a7c319e3079bbd8fdcbea169c692d9feabac0a7e0646d334ec517a86f7d943e0b0107fd925203de1cc8029b252ba
	b2sums = ec33639c22448da84fda9eaa83a78737f20579061e0ae05699a361ac9a8646df0ebf5c31df69cd7c4ee1c1c7fc0e28d0f6050a1879c3d28bf83e2caf442eb2a3

pkgname = python-frozenlist
